# ==========================================
# CONFIGURATION GLOBALE
# ==========================================
RUST_LOG=info

# ==========================================
# BASE DE DONNÉES (PostgreSQL)
# ==========================================
POSTGRES_USER=mmo_admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=gatekeeper_db
DATABASE_URL=postgres://mmo_admin:password123@db:5432/gatekeeper_db

# ==========================================
# REDIS
# ==========================================
REDIS_URL=redis://redis:6379/

# ==========================================
# GATEKEEPER (Rocket API)
# ==========================================
ROCKET_ADDRESS=0.0.0.0
ROCKET_PORT=3000
JWT_SECRET=fautchangercaenprod